.friends {
  display: grid;
  justify-content: center;
}
.avatar1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  border: 1px solid rgb(207, 207, 255);
  border-radius: 50%;
}
.friendList {
  list-style-type: none;
  display: flex;
}
.true {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(0, 255, 0);
}
.false {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 145, 0);
}
.name {
  display: grid;
  justify-content: center;
  font-weight: 700;
}
